.container{
}

.baner {
	background-color: #0b873d;
	color: white;
	font-size: 150%;
	text-align: center;
}

.left {
	background-color: #8ce1ae;
	width: 40%;
	height: 600px;
	float: left;
}

.middle {
	background-color: #5ccb89;
	width: 40%;
	height: 600px;
	float: left;
}

.right {
	background-color: #1da956;
	width: 20%;
	height: 600px;
	float: left;
}

a:link { 
	color: brown; 
}
a:visited { 
	color: red; 
}

ul {
	margin: 20px;
	list-style-image: url('auto.png');
}
	